<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>See Reports</title>
  <link rel="stylesheet" href="/styles/seeReports.css">
  
</head>
<body>
  <div>
    
    <button id="generateUserActivityBtn">
        Generate User Activity Report</button>

        <div id="downloadLinkUserActivity" style="display: none;">
        <p>Your report is ready. Click below to download</p>
        <a href="" id="downloadUserActivityTxt" target="_blank">Download TXT</a>
        </div>

    <button id="generateDoctorActivityBtn">
        Generate Doctor Activity Report</button>

        <div id="downloadLinkDoctorActivity" style="display: none;">
        <p>Your report is ready. Click below to download</p>
        <a href="" id="downloadDoctorActivityTxt" target="_blank">Download TXT</a>
        </div>
    
  </div>
  <script>
    document.getElementById("generateUserActivityBtn").addEventListener("click", async () => {

        try {
            const response = await fetch('/admin/reports/user-activity/txt');
            const data = await response.json();

            if (response.ok) {
                document.getElementById("downloadLinkUserActivity").style.display = 'block';
                document.getElementById("downloadUserActivityTxt").href = data.fileUrl;
            } else {
                alert(data.message || 'Error generating the report.');
            }
        } catch (err) {
            alert('Error generating the report.');
        }
    });

    document.getElementById("generateDoctorActivityBtn").addEventListener("click", async () => {

        try {
            const response = await fetch('/admin/reports/doctor-activity/txt');
            const data = await response.json();
            
            if (response.ok) {
                document.getElementById("downloadLinkDoctorActivity").style.display = 'block';
                document.getElementById("downloadDoctorActivityTxt").href = data.fileUrl;
            } else {
                alert(data.message || 'Error generating the report.');
            }
        } catch (err) {
            console.error('No generating the report man', err);
            alert('Error generating the report.');
        }
        });

    </script>
</body>
</html>
